.smoke-detector {
  text-align: center;
  margin-top: 20px;
}

.detector {
  width: 100px;
  height: 100px;
  background-color: rgb(166, 159, 159);
  border-radius: 50%;
  position: relative;
  margin: 20px auto;
}

.smoke {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  bottom: -10px;
  left: 45px;
  animation: smoke-rise 2s infinite ease-in;
}

@keyframes smoke-rise {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-50px);
    opacity: 0;
  }
}
